@mixin card__desktop--front {
    width: 24.833rem;
    height: 13.611rem;
    background-image: url(../images/bg-card-front.png);
    
} 

@mixin card__desktop--back {
    width: 24.833rem;
    height: 13.611rem;
    background-image: url(../images/bg-card-back.png);
}

@mixin card__mobile--front {
    width: 15.944rem;
    height: 8.777rem;
    background-image: url(../images/bg-card-front.png);
    background-size: cover;
}

@mixin card__mobile--back {
    width: 15.944rem;
    height: 8.777rem;
    background-image: url(../images/bg-card-back.png);
    background-size: cover;
}

@mixin error {
    color: hsl(0deg, 100%, 66%);
    font-size: 0.65rem;
    margin-top: -18px;
    margin-bottom: 30px;
}





