/*** COLORS ***/
$col_input_error: hsl(0, 100%, 66%);
$col_active_input_border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$col_White: hsl(0, 0%, 100%);
$col_Light-grayish-violet: hsl(270, 3%, 87%);
$col_Dark-grayish-violet: hsl(279, 6%, 55%);
$col_Very-dark-violet: hsl(278, 68%, 11%);

/*** SIZES ***/
$width_card-desktop: 80rem;
$width-card-mobile: 20.833rem;
$height_card-desktop: 50rem;
$height_card-mobile: 39.111rem;
$width_form: 21.388rem;
$height_form: 19.444rem;

/*** FONTS ***/
$size-h1: 1.5rem;
$size-p: 0.8rem;
